.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 240px);
    height: calc(90dvh - 58px);
    box-sizing: border-box;
}

.container__element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
}

.container__element-position-preview {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    color: white;
    opacity: 0.5;
    z-index: -1;
    transition: all 0.3s ease-out;
}

.container__element__text {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}
