.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 240px);
    height: calc(90dvh - 58px);
    box-sizing: border-box;
}

.container__element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__element__image {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}

.container__elements-position-preview {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    opacity: 0.5;
    z-index: -1;
    transition: all 0.3s ease-out;
}

.container__element__text {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0px auto;
        max-width: 100%;
        min-height: 80dvh;
        box-sizing: border-box;
    }

    .container__element__image {
        width: 100px;
        height: 50px;
    }

    .container__elements-position-preview {
        width: 100px;
        height: 50px;
    }
}
